<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]= "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#4717F6'"
        [innerStrokeColor]="'#E7DFDD'"
        [animation]="true"
        [animationDuration]="600"
     >
       </circle-progress>
    </div>
    <div class=" text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]= "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#4717F6'"
        [innerStrokeColor]="'#E7DFDD'"
        [animation]="true"
        [animationDuration]="600"
     >
       </circle-progress>
    </div>
    <div class=" text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]= "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#4717F6'"
        [innerStrokeColor]="'#E7DFDD'"
        [animation]="true"
        [animationDuration]="600"
     >
       </circle-progress>
    </div>
    <div class=" text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]= "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#4717F6'"
        [innerStrokeColor]="'#E7DFDD'"
        [animation]="true"
        [animationDuration]="600"
     >
       </circle-progress>
    </div>
      
    
    </div>
    
