<div class = "row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
             <h1>
             Trabajo 1
             </h1> - 
             <h3>
                 
                (years)

             </h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores cupiditate veritatis facere, eos vel tempore cumque, commodi ullam nemo ipsam, dolore ad eius voluptate? Similique tenetur nisi atque rerum aut!</p>
        </ul>
    </div>

</div>
