
<div class = "row" >
    <div class="col-xs -12 col-sm -2 col-md -2 col-lg -2" >
        <img src="../../../assets/perfilPhoto.jpg" class ="img-fluid" id="fotoperfil">
    </div>
    <div clas="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Hola yo soy Jonathan Acsama</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div clas="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de Mi
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, facilis, molestias dolorum cupiditate, voluptatum assumenda corporis minus ducimus accusamus placeat provident! Nesciunt voluptatum in exercitationem accusantium quas eaque delectus voluptates.</p>
        </span>
    </div>

</div>
