.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
}


#LogoAP{
    width: 150px;
}
img{
    width: 50px;
}


/* Haciendo el responsive par atelefonos moviles 

.container{
    flex-direction: column;

}

.redes{
    display: flex;
    flex-direction: colum;
}

*/
/*Continuar despues*/